[user]
	email = changseo.jang@korea.ac.kr
	name = Changseo Jang
[gpg]
	program = gpg
[core]
	pager = git-split-diffs --color | less -RFX
	excludesFile = /home/beleap/.gitignore
[init]
	defautBranch = main
