@import "mocha.css";

* {
	border: none;
	border-radius: 0;
	font-family: Caskaydia Cove Nerd Font, Pretendard;
	font-size: 14px;
	min-height: 24px;
	padding: .5px;
	color: @text;
	background: @base;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 8px;
	margin-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	transition: none;
	font-weight: bold;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 8px;
	border-radius: 26px;
	transition: none;
}

#workspaces button {
	transition: none;
	margin-left: 5px;
	margin-right: 5px;
	color: @overlay0;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: @text;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @subtext0;
}

#workspaces button.urgent {
	color: @red;
}

#mipris,
#backlight,
#battery,
#clock,
#cpu,
#custom-github,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#bluetooth,
#tray,
#wireplumber {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
}
