@import "mocha.css";

/*
 ********************************************
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 *░░█▀█░█░░░█░█░█▀▀░░░█░█░█░░░▀█▀░█▀▄░█▀█░░*
 *░░█▀▀░█░░░█░█░▀▀█░░░█░█░█░░░░█░░█▀▄░█▀█░░*
 *░░▀░░░▀▀▀░▀▀▀░▀▀▀░░░▀▀▀░▀▀▀░░▀░░▀░▀░▀░▀░░*
 *░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░*
 ********************************************
 */

* {
	border: none;
	border-radius: 0;
	font-family: Caskaydia Cove Nerd Font, Pretendard;
	font-size: 14px;
	min-height: 24px;
}

window#waybar {
	background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
	border-radius: 26px;
	transition: none;
  color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 8px;
	border-radius: 26px;
	background: #282a36;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @overlay0;
	background: transparent;
	font-size: 16px;
}

#workspaces button.focused {
	color: @text;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: @subtext0;
}

#workspaces button.urgent {
  color: @red;
}

#backlight,
#battery,
#clock,
#cpu,
#custom-github,
#custom-media,
#disk,
#idle_inhibitor,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#scratchpad,
#temperature,
#tray,
#wireplumber {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 8px;
	border-radius: 26px;
  color: @text;
  background: @surface0;
}

#custom-github {
	color: @surface0;
	background: @blue;
}

#pulseaudio {
	color: @surface0;
	background: @lavender;
}

#network {
	color: @surface0;
	background: @sapphire;
}

#cpu {
	color: @surface0;
	background: @sky;
}

#memory {
	color: @surface0;
	background: @teal;
}

#temperature {
	color: @surface0;
	background: @green;
}

#language {
	color: @surface0;
	background: @yellow;
}

#battery {
	color: @surface0;
	background: @peach;
}

#clock {
	color: @surface0;
	background: @maroon;
}

#tray {
	color: @surface0;
	background: @red;
}
