snippet java "Java Basic Style" b
public class `!p snip.rv = snip.basename` {
    $0
}
endsnippet

snippet print "Java Print Method" b
System.out.print($1);$0
endsnippet

snippet println "Java Println Method" b
System.out.println($1);$0
endsnippet
